name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v6

    - uses: coursier/cache-action@v7

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        file: ./docker/Dockerfile
        platforms: linux/amd64
        push: ${{ github.ref == 'refs/heads/master' }}
        load: ${{ github.ref != 'refs/heads/master' }}
        tags: ghcr.io/scala-text/scala-text-pdf:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: PDF build
      run: |
        sudo chown -R root:root $GITHUB_WORKSPACE
        docker compose up --abort-on-container-exit

    - name: Push PDF file
      uses: actions/upload-artifact@v6
      with:
        name: scala_text pdf
        path: scala_text.pdf

  release:
    name: Publish artifact to gh-pages
    if: github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps: 
      - uses: actions/checkout@v6
      
      - name: Download PDF
        uses: actions/download-artifact@v7
        with:
          name: scala_text pdf
          path: ./build/

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: build
          target-folder: ./
          clean: true

